.navy-blue{
    background-color: #113d6e;
    color: white;
}

.navy-blue-light{
    background-color: #154282;
}

.light-blue-alternative{
    background-color: #54a8ec;
}

.font-blue{
    color: #2666c0 ;
}

.size-icon{
    font-size: 25px;
    color: white;
}

.size-arrow{
    font-size: 20px;
}